body {
  margin: 0;
  font-family: Helvetica, "sans serif";
  color: #cccccc;
  line-height: 1.5;

  background-image: url(./images/haal1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

a {
  transition-duration: 0.5s;
  text-decoration: none;
  color: #cccccc;
}
a:hover {
  color: rgba(235, 187, 235, 0.76);
}


.about-me {
  color: #cccccc;
  background-color: rgba(0, 0, 0, 0.34);
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* Här är styling för bilden som ligger i about-me sektionen */
.about-me .meImg {
  margin-right: 30px;
  transition-duration: 1s;
  height: 6em;
  width: 6em;
  border-radius: 50%; /*Gör bilden rund*/
}
/* Här är styling för bilden som ligger i about-me sektionen när man har musen över*/
.about-me .meImg:hover{
  transition-delay: 0.5s;
  box-shadow: 0 0 2px 1px  rgba(235, 187, 235, 0.76);
  background-color: rgba(235, 187, 235, 0.76);
  height: 9em;
  width: 9em;
}

.nav {
  display: flex;
  justify-content: center;
  height: 70px;
}
.nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap; /*behåller storlek men byter rad*/
  justify-content: space-between;
  width: 60em;
}
.nav li {
  display: flex;
  margin: 1px 30px;
}

.btn {
  transition-duration: 0.5s;
  background-color:white;
  color: gray;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  font-size: 90%;
}
.btn:hover {
  font-size: 100%;
  color: black;
  background: rgba(235, 187, 235, 0.76);
  cursor: pointer;
}

#main{
  padding: 150px 30px;
  width: 60%;
  margin: 0 auto;
}

.upBtn {
  position: sticky; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  left: 70vw; /* relative position so no worries about different devices*/
  cursor: pointer; /* Add a mouse pointer on hover */
  transition-duration: 0.5s;
  background-color:white;
  color: gray;
  padding: 10px 20px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 600;
}
.upBtn:hover {
  font-size: 120%;
  color: black;
  background: rgba(235, 187, 235, 0.76);
}

/*Footer*/
footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.34);
  color: #cccccc;
  padding: 100px 15px;

}

