* {
  text-align: center;
  color: antiquewhite;
  background-color: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: brown;
}

#cardBack {
  margin-bottom: 100px;
}

#cardFront {
  margin-top: 100px;
}

img {
  margin: 3em;
}
