body {
  color: #cccccc;
  background-color: rgb(100, 209, 209);
  background-image: url(./images/norrsken.jpg);
  background-repeat: no-repeat;
  line-height: 1.5;
}

@keyframes linkOn {
  from {color: #cccccc;}
  to {text-shadow: 0 0 2px 1px turquoise;
    font-size: 24px;}
}
a {
  color: #cccccc;
  transition: 0.4ms;
}
a:hover {
  animation-name: linkOn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}


@keyframes imageOn {
  from {height: 80px;
    width: 80px;}
  to {box-shadow: 0 0 2px 1px  turquoise;
    height: 200px;
    width: 200px;}
}
img {
  border-radius: 25%;
  height: 80px;
  width: 80px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
}
img:hover{
  animation-name: imageOn;
  animation-duration: 4s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

button {
  transition-duration: 1s;
}
button:hover {
  font-size: 20px;
  background:  rgb(100, 209, 209);
}

/*Header*/
@media (min-width: 667px) {
  #mainHeader h1 {
    font-size: 10em;
  }

  body {
    background-color: rgb(100, 209, 209);;
  }
}

/*Footer*/
footer {
  position: fixed;
  left: 0px;
  padding-left: 10px;
  bottom: 0px;
  width: 100%;
  background-color: white;
  color: #08070d;
}