body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  text-align: center;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
}

.active {
  background-color: #ffffff66;
  border-radius: 3rem;
}